.bg-york-central-hall {
    background-image: url('background_images/york-central-hall.jpg');
    background-color: #cccccc;
  }

.bg-york-indie-gig {
    background-image: url('background_images/york-indie-gig.jpg');
    background-color: #cccccc;
  }