{% extends "base.html" %}

{% block extra_head %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/moar.css') }}" />
{% endblock %}

{% block body_class %}bg-typists{% endblock %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content_title %}{{ entry.title }}{% endblock %}

{% block extra_navbar_link %}
{% if session.logged_in %}
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('edit', slug=entry.slug) }}">Edit entry</a>
</li>
{% endif %}
{% endblock %}

{% block content %}
<div style="padding-top: 1em;">
  <div class="card border-0 text-white bg-dark mx-auto" style="padding: 0.5em; max-width: 800px;">
<img class="card-img" src="{{ entry.feature_image }}" alt="{{ entry.feature_image }}">
</div>
</div>

<div style="padding-top: 1em;">
  <div class="card border-0 text-white bg-dark" style="padding: 0.5em;">
    <p class="col card-text">{{ entry.one_liner }}</p>
    <p>
      {% for tag in tags %}
      <a class="text-white" href='#'>{{ tag }}</a>
      {% if not loop.last %}
      ,
      {% endif %}
      {% endfor %}
    </p>
    <p class="text-muted">Created {{ entry.timestamp.strftime('%d/%m/%Y at %H:%M') }}</p>
  </div>
</div>
<div style="padding-top: 1em;">
  <div class="card border-0 text-white bg-dark" style="padding: 0.5em;">
    {{ entry.html_content }}
  </div>
</div>
{% endblock %}